<p id="notice"><%= notice %></p>

<h1>Maintenance Requests</h1>

<table id="maintenance_requests_table" class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Location</th>
      <th>Description</th>
      <th>Urgency</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @maintenance_requests.each do |maintenance_request| %>
      <tr>
        <td><%= maintenance_request.user.first_name %> <%= maintenance_request.user.last_name %></td>
        <td><%= maintenance_request.location %></td>
        <td><%= maintenance_request.description %></td>
        <td><%= maintenance_request.urgency %></td>
        <td><%= maintenance_request.status %></td>
        <td><%= link_to 'Show', maintenance_request %></td>
        <td><%= link_to 'Edit', edit_maintenance_request_path(maintenance_request) %></td>
        <td><%= link_to 'Destroy', maintenance_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function () {
    $('#maintenance_requests_table').DataTable();
  });
</script>
