<p id="notice"><%= notice %></p>

<h1>User Roles</h1>

<table id="user_roles_table" class="table">
  <thead>
    <tr>
      <th width="30%">Name</th>
      <th width="30%">Email</th>
      <th width="20%">Current Role</th>
      <th width-"20%"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name + " " + user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= link_to 'Change Role', edit_role_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function () {
    $('#user_roles_table').DataTable();
  });
</script>
