<p id="notice"><%= notice %></p>

<h1>Buildings</h1>

<table id="buildings_table" class="table">
  <thead>
    <tr>
      <th width="20%">Name</th>
      <th width="50%">Address</th>
      <th width="15%">Capacity</th>
      <th width-"5%">Views</th>
      <th width-"5%"></th>
      <th width-"5%"></th>
    </tr>
  </thead>
  <tbody>
    <% @buildings.each do |building| %>
      <tr>
        <td><%= building.name %></td>
        <td><%= building.street + ", " + building.city + ", " + building.postcode + ", " + building.state + ", " + building.country %></td>
        <td><%= building.current_capacity %>/<%= building.total_capacity %></td>
        <td><%= link_to 'Show', building %></td>
        <td><%= link_to 'Edit', edit_building_path(building) %></td>
        <td><%= link_to 'Destroy', building, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Building', new_building_path %>

<script type="text/javascript">
  $(document).ready(function () {
    $('#buildings_table').DataTable();
  });
</script>
