<%= simple_form_for(@room) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :lodging %>
    <%= f.association :user, :include_blank => false, :label_method => lambda { |user| "#{user.room.present?} #{user.first_name} #{user.last_name}" } %>
    <%= f.input :number %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
