<p id="notice"><%= notice %></p>

<p>
  <strong>Lodging:</strong>
  <%= @room.lodging %>
</p>

<p>
  <strong>User:</strong>
  <%= @room.user %>
</p>

<p>
  <strong>Number:</strong>
  <%= @room.number %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
