<!DOCTYPE html>
<html>
  <head>
    <title>Samrails</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
  </head>

  <body>
    <div class="container">
      <% if user_signed_in? %>
        <% if current_user.role == "resident" %>
          <%= link_to "Resident Dashboard", resident_dashboard_path %>
        <% else %>
          <%= link_to 'Residents', residents_path %>
          <%= link_to 'Config', config_path %>
        <% end %>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      <%= yield %>
    </div>
  </body>
</html>
